@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 60 100% 50%;

    --card: 0 0% 7%;
    --card-foreground: 60 100% 50%;

    --popover: 0 0% 7%;
    --popover-foreground: 60 100% 50%;

    --primary: 0 0% 13%;
    --primary-foreground: 60 100% 50%;

    --secondary: 0 0% 17%;
    --secondary-foreground: 60 100% 50%;

    --muted: 0 0% 20%;
    --muted-foreground: 60 100% 70%;

    --accent: 0 0% 17%;
    --accent-foreground: 60 100% 50%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 100% 50%;

    --border: 0 0% 13%;
    --input: 0 0% 13%;
    --ring: 0 0% 20%;

    --radius: 0.5rem;
  }
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}

